.ticket {
    background: #d9d9d9dc;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 2%;
    width: 85%;
    overflow: hidden
}

.body {
    background: #ffffffc0;
    padding: 2px;
}

.content {
    overflow: hidden
}

.infoAboutTicket {
    display: flex;
    justify-content: space-between;
}

.labelContainer {
    display: flex;
}

.label{
    color: #ffffff;
    background: #e63946;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15%;
    padding: 3px;
    margin-right: 10px;
}

.hideTicketButton {
    margin-right: 5px;
    float: right;
}

.hideTicketButton:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.title{
    margin-left: 10px;
}

.title:hover {
    cursor: pointer;
}

.doneButton {
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
}